<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= pageTitle %> </title>
</head>
<body>
    <main>
        <% if(errMsg) {%>
            <p>
                <%= errMsg %>
            </p>
        <% } %>
        <form action="/login" method="post" >
            <div>
                <label for="email">email</label>
                <input name="email" placeholder="enter email" type="email" />
            </div>
            <div>
                <label for="password">password</label>
                <input name="password" placeholder="enter password" type="password" />
            </div>
            <button type="submit">submit</button>
        </form>
    </main>
    
</body>
</html>