<header>
    <h2>BLOGGERS</h2>
    <form method="post" action="/search" class="search-form" >
        <svg xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M11.7545 12.3149C10.4066 13.3918 8.69759 13.9117 6.97836 13.7679C5.25913 13.6241 3.66022 12.8275 2.51002 11.5416C1.35982 10.2557 0.745644 8.57823 0.79363 6.85367C0.841616 5.1291 1.54812 3.48837 2.76805 2.26844C3.98797 1.04852 5.62871 0.342013 7.35327 0.294027C9.07784 0.24604 10.7553 0.860218 12.0412 2.01042C13.3271 3.16062 14.1237 4.75953 14.2675 6.47876C14.4113 8.19799 13.8914 9.90703 12.8145 11.2549L17.9705 16.4099C18.0442 16.4785 18.1033 16.5613 18.1443 16.6533C18.1852 16.7453 18.2073 16.8446 18.2091 16.9453C18.2108 17.046 18.1923 17.1461 18.1546 17.2395C18.1169 17.3329 18.0607 17.4177 17.9895 17.4889C17.9183 17.5601 17.8335 17.6163 17.7401 17.654C17.6467 17.6917 17.5467 17.7102 17.4459 17.7085C17.3452 17.7067 17.2459 17.6846 17.1539 17.6436C17.0619 17.6027 16.9791 17.5436 16.9105 17.4699L11.7545 12.3149ZM3.82847 10.7529C3.09451 10.0188 2.59463 9.0837 2.39199 8.06564C2.18934 7.04758 2.29305 5.9923 2.68998 5.03317C3.08692 4.07403 3.75928 3.25409 4.62209 2.67697C5.48489 2.09985 6.49941 1.79145 7.53744 1.79075C8.57547 1.79005 9.59041 2.09709 10.454 2.67305C11.3176 3.24901 11.991 4.06804 12.3893 5.02664C12.7875 5.98524 12.8926 7.04038 12.6913 8.05871C12.4901 9.07704 11.9914 10.0128 11.2585 10.7479L11.2535 10.7529L11.2485 10.7569C10.2636 11.7395 8.9289 12.291 7.53764 12.2902C6.14639 12.2895 4.81232 11.7366 3.82847 10.7529Z" fill="black"/>
            </svg>
        <input type="text" placeholder="Search bloggers" >
        <button type="submit" hidden >submit</button>
    </form>
    <% if(isAuth) {%>
        <a class="profile-link" href="/profile/:<%= userId %>" >
            <span></span>
            Profile
        </a>
        <a class="logout" href="/logout" >logout</a> 
    <% } else { %>
        <a href="/signup" >Sign in / login</a>
    <% } %>
</header>