<header>
    <h2>BLOGGERS</h2>
    <form method="post" action="/search" class="search-form" >
        <input type="text" placeholder="Search bloggers" >
        <button type="submit" hidden >submit</button>
    </form>
    <!-- <span></span> -->
    <a href="/signup" >Sign in/ login</a>
</header>