<header>
    <h2>BLOGGERS</h2>
    <form method="post" action="/search" >
        <input type="text" placeholder="Search bloggers" >
        <button type="submit" hidden >submit</button>
    </form>
    <span></span>
</header>