<div class="sidebar">
    <nav>
        <a href="/">Posts</a>
        <a href="admin/createBlog" >Write Posts</a>
        <a>Drafts</a>
        <a>Favorite</a>
    </nav>
    <div>
        <h3>Trending</h3>
        <span>Sports</span>
        <span>Entertainment</span>
        <span>Business</span>
        <span>Technology</span>
    </div>
</div>