<div class="sidebar">
    <nav>
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 22 17" fill="none">
                <path d="M20.75 0.273438H15.3875C14.2367 0.273438 13.1117 0.603907 12.1437 1.22734L11 1.96094L9.85625 1.22734C8.88924 0.604027 7.76299 0.272823 6.6125 0.273438H1.25C0.835156 0.273438 0.5 0.608595 0.5 1.02344V14.3359C0.5 14.7508 0.835156 15.0859 1.25 15.0859H6.6125C7.76328 15.0859 8.88828 15.4164 9.85625 16.0398L10.8969 16.7102C10.9273 16.7289 10.9625 16.7406 10.9977 16.7406C11.0328 16.7406 11.068 16.7313 11.0984 16.7102L12.1391 16.0398C13.1094 15.4164 14.2367 15.0859 15.3875 15.0859H20.75C21.1648 15.0859 21.5 14.7508 21.5 14.3359V1.02344C21.5 0.608595 21.1648 0.273438 20.75 0.273438ZM6.6125 13.3984H2.1875V1.96094H6.6125C7.44219 1.96094 8.24844 2.19766 8.94453 2.64531L10.0883 3.37891L10.25 3.48438V14.3125C9.13437 13.7125 7.8875 13.3984 6.6125 13.3984ZM19.8125 13.3984H15.3875C14.1125 13.3984 12.8656 13.7125 11.75 14.3125V3.48438L11.9117 3.37891L13.0555 2.64531C13.7516 2.19766 14.5578 1.96094 15.3875 1.96094H19.8125V13.3984ZM8.30234 4.96094H3.94766C3.85625 4.96094 3.78125 5.04063 3.78125 5.13672V6.19141C3.78125 6.2875 3.85625 6.36719 3.94766 6.36719H8.3C8.39141 6.36719 8.46641 6.2875 8.46641 6.19141V5.13672C8.46875 5.04063 8.39375 4.96094 8.30234 4.96094ZM13.5312 5.13672V6.19141C13.5312 6.2875 13.6062 6.36719 13.6977 6.36719H18.05C18.1414 6.36719 18.2164 6.2875 18.2164 6.19141V5.13672C18.2164 5.04063 18.1414 4.96094 18.05 4.96094H13.6977C13.6062 4.96094 13.5312 5.04063 13.5312 5.13672ZM8.30234 8.24219H3.94766C3.85625 8.24219 3.78125 8.32188 3.78125 8.41797V9.47266C3.78125 9.56875 3.85625 9.64844 3.94766 9.64844H8.3C8.39141 9.64844 8.46641 9.56875 8.46641 9.47266V8.41797C8.46875 8.32188 8.39375 8.24219 8.30234 8.24219ZM18.0523 8.24219H13.6977C13.6062 8.24219 13.5312 8.32188 13.5312 8.41797V9.47266C13.5312 9.56875 13.6062 9.64844 13.6977 9.64844H18.05C18.1414 9.64844 18.2164 9.56875 18.2164 9.47266V8.41797C18.2188 8.32188 18.1438 8.24219 18.0523 8.24219Z" fill="black"/>
            </svg>
            Posts</a>
        <a href="admin/createBlog" >
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M3 17.75V21.5H6.75L17.81 10.44L14.06 6.69L3 17.75ZM5.92 19.5H5V18.58L14.06 9.52L14.98 10.44L5.92 19.5ZM20.71 6.13L18.37 3.79C18.17 3.59 17.92 3.5 17.66 3.5C17.4 3.5 17.15 3.6 16.96 3.79L15.13 5.62L18.88 9.37L20.71 7.54C20.8027 7.44749 20.8762 7.3376 20.9264 7.21662C20.9766 7.09565 21.0024 6.96597 21.0024 6.835C21.0024 6.70403 20.9766 6.57435 20.9264 6.45338C20.8762 6.3324 20.8027 6.22251 20.71 6.13Z" fill="#3217DA"/>
            </svg>
            Write Posts</a>
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="19" viewBox="0 0 20 19" fill="none">
                <path d="M10 18.5L8.55 17.2C6.86667 15.6834 5.475 14.375 4.375 13.275C3.275 12.175 2.4 11.1874 1.75 10.312C1.1 9.43736 0.646 8.63336 0.388 7.90002C0.13 7.16669 0.000666667 6.41669 0 5.65002C0 4.08336 0.525 2.77502 1.575 1.72502C2.625 0.675024 3.93333 0.150024 5.5 0.150024C6.36667 0.150024 7.19167 0.333358 7.975 0.700024C8.75833 1.06669 9.43333 1.58336 10 2.25002C10.5667 1.58336 11.2417 1.06669 12.025 0.700024C12.8083 0.333358 13.6333 0.150024 14.5 0.150024C16.0667 0.150024 17.375 0.675024 18.425 1.72502C19.475 2.77502 20 4.08336 20 5.65002C20 6.41669 19.8707 7.16669 19.612 7.90002C19.3533 8.63336 18.8993 9.43736 18.25 10.312C17.6 11.1874 16.725 12.175 15.625 13.275C14.525 14.375 13.1333 15.6834 11.45 17.2L10 18.5ZM10 15.8C11.6 14.3667 12.9167 13.1374 13.95 12.112C14.9833 11.0867 15.8 10.1954 16.4 9.43802C17 8.67936 17.4167 8.00402 17.65 7.41202C17.8833 6.82002 18 6.23269 18 5.65002C18 4.65002 17.6667 3.81669 17 3.15002C16.3333 2.48336 15.5 2.15002 14.5 2.15002C13.7167 2.15002 12.9917 2.37069 12.325 2.81202C11.6583 3.25336 11.2 3.81602 10.95 4.50002H9.05C8.8 3.81669 8.34167 3.25402 7.675 2.81202C7.00833 2.37002 6.28333 2.14936 5.5 2.15002C4.5 2.15002 3.66667 2.48336 3 3.15002C2.33333 3.81669 2 4.65002 2 5.65002C2 6.23336 2.11667 6.82102 2.35 7.41302C2.58333 8.00502 3 8.68002 3.6 9.43802C4.2 10.196 5.01667 11.0877 6.05 12.113C7.08333 13.1384 8.4 14.3674 10 15.8Z" fill="black"/>
                </svg>Drafts</a>
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M6 14.5H18V12.5H6V14.5ZM6 11.5H18V9.5H6V11.5ZM6 8.5H18V6.5H6V8.5ZM22 22.5L18 18.5H4C3.45 18.5 2.979 18.304 2.587 17.912C2.195 17.52 1.99934 17.0493 2 16.5V4.5C2 3.95 2.196 3.479 2.588 3.087C2.98 2.695 3.45067 2.49934 4 2.5H20C20.55 2.5 21.021 2.696 21.413 3.088C21.805 3.48 22.0007 3.95067 22 4.5V22.5ZM18.85 16.5L20 17.625V4.5H4V16.5H18.85Z" fill="black"/>
                </svg>
            Favorite</a>
    </nav>
    <div>
        <h3>Trending</h3>
        <span>Sports</span>
        <span>Entertainment</span>
        <span>Business</span>
        <span>Technology</span>
    </div>
</div>