<div class="sidebar">
    <nav>
        <a>Posts</a>
        <a>Write Posts</a>
        <a>Drafts</a>
        <a>Favorite</a>
    </nav>
    <div>
        <h3>Trending</h3>
        <span>Sports</span>
        <span>Entertainment</span>
        <span>Business</span>
        <span>Technology</span>
    </div>
</div>