<div class="sidebar">
    <nav>
        <a href="/">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="17" viewBox="0 0 22 17" fill="none">
                <path d="M20.75 0.273438H15.3875C14.2367 0.273438 13.1117 0.603907 12.1437 1.22734L11 1.96094L9.85625 1.22734C8.88924 0.604027 7.76299 0.272823 6.6125 0.273438H1.25C0.835156 0.273438 0.5 0.608595 0.5 1.02344V14.3359C0.5 14.7508 0.835156 15.0859 1.25 15.0859H6.6125C7.76328 15.0859 8.88828 15.4164 9.85625 16.0398L10.8969 16.7102C10.9273 16.7289 10.9625 16.7406 10.9977 16.7406C11.0328 16.7406 11.068 16.7313 11.0984 16.7102L12.1391 16.0398C13.1094 15.4164 14.2367 15.0859 15.3875 15.0859H20.75C21.1648 15.0859 21.5 14.7508 21.5 14.3359V1.02344C21.5 0.608595 21.1648 0.273438 20.75 0.273438ZM6.6125 13.3984H2.1875V1.96094H6.6125C7.44219 1.96094 8.24844 2.19766 8.94453 2.64531L10.0883 3.37891L10.25 3.48438V14.3125C9.13437 13.7125 7.8875 13.3984 6.6125 13.3984ZM19.8125 13.3984H15.3875C14.1125 13.3984 12.8656 13.7125 11.75 14.3125V3.48438L11.9117 3.37891L13.0555 2.64531C13.7516 2.19766 14.5578 1.96094 15.3875 1.96094H19.8125V13.3984ZM8.30234 4.96094H3.94766C3.85625 4.96094 3.78125 5.04063 3.78125 5.13672V6.19141C3.78125 6.2875 3.85625 6.36719 3.94766 6.36719H8.3C8.39141 6.36719 8.46641 6.2875 8.46641 6.19141V5.13672C8.46875 5.04063 8.39375 4.96094 8.30234 4.96094ZM13.5312 5.13672V6.19141C13.5312 6.2875 13.6062 6.36719 13.6977 6.36719H18.05C18.1414 6.36719 18.2164 6.2875 18.2164 6.19141V5.13672C18.2164 5.04063 18.1414 4.96094 18.05 4.96094H13.6977C13.6062 4.96094 13.5312 5.04063 13.5312 5.13672ZM8.30234 8.24219H3.94766C3.85625 8.24219 3.78125 8.32188 3.78125 8.41797V9.47266C3.78125 9.56875 3.85625 9.64844 3.94766 9.64844H8.3C8.39141 9.64844 8.46641 9.56875 8.46641 9.47266V8.41797C8.46875 8.32188 8.39375 8.24219 8.30234 8.24219ZM18.0523 8.24219H13.6977C13.6062 8.24219 13.5312 8.32188 13.5312 8.41797V9.47266C13.5312 9.56875 13.6062 9.64844 13.6977 9.64844H18.05C18.1414 9.64844 18.2164 9.56875 18.2164 9.47266V8.41797C18.2188 8.32188 18.1438 8.24219 18.0523 8.24219Z" fill="black"/>
            </svg>
            <span>
                Posts
            </span>
        </a>
        <a href="/admin/createBlog">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M3 17.75V21.5H6.75L17.81 10.44L14.06 6.69L3 17.75ZM5.92 19.5H5V18.58L14.06 9.52L14.98 10.44L5.92 19.5ZM20.71 6.13L18.37 3.79C18.17 3.59 17.92 3.5 17.66 3.5C17.4 3.5 17.15 3.6 16.96 3.79L15.13 5.62L18.88 9.37L20.71 7.54C20.8027 7.44749 20.8762 7.3376 20.9264 7.21662C20.9766 7.09565 21.0024 6.96597 21.0024 6.835C21.0024 6.70403 20.9766 6.57435 20.9264 6.45338C20.8762 6.3324 20.8027 6.22251 20.71 6.13Z" fill="#3217DA"/>
            </svg>
            <span>
                Write
            </span>
        </a>
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path d="M19.99 7.5C19.99 6.78 19.62 6.15 19.05 5.8L10 0.5L0.95 5.8C0.38 6.15 0 6.78 0 7.5V17.5C0 18.6 0.9 19.5 2 19.5H18C19.1 19.5 20 18.6 20 17.5L19.99 7.5ZM17.99 7.5V7.51L10 12.5L2 7.5L10 2.82L17.99 7.5ZM2 17.5V9.84L10 14.86L17.99 9.87L18 17.5H2Z" fill="black"/>
            </svg>
            <span>
                Drafts
            </span>
        </a>
        <a>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="25" viewBox="0 0 24 25" fill="none">
                <path d="M12 21.5L10.55 20.2C8.86667 18.6833 7.475 17.375 6.375 16.275C5.275 15.175 4.4 14.1873 3.75 13.312C3.1 12.4373 2.646 11.6333 2.388 10.9C2.13 10.1667 2.00067 9.41666 2 8.64999C2 7.08333 2.525 5.77499 3.575 4.72499C4.625 3.67499 5.93333 3.14999 7.5 3.14999C8.36667 3.14999 9.19167 3.33333 9.975 3.69999C10.7583 4.06666 11.4333 4.58333 12 5.24999C12.5667 4.58333 13.2417 4.06666 14.025 3.69999C14.8083 3.33333 15.6333 3.14999 16.5 3.14999C18.0667 3.14999 19.375 3.67499 20.425 4.72499C21.475 5.77499 22 7.08333 22 8.64999C22 9.41666 21.8707 10.1667 21.612 10.9C21.3533 11.6333 20.8993 12.4373 20.25 13.312C19.6 14.1873 18.725 15.175 17.625 16.275C16.525 17.375 15.1333 18.6833 13.45 20.2L12 21.5ZM12 18.8C13.6 17.3667 14.9167 16.1373 15.95 15.112C16.9833 14.0867 17.8 13.1953 18.4 12.438C19 11.6793 19.4167 11.004 19.65 10.412C19.8833 9.81999 20 9.23266 20 8.64999C20 7.64999 19.6667 6.81666 19 6.14999C18.3333 5.48333 17.5 5.14999 16.5 5.14999C15.7167 5.14999 14.9917 5.37066 14.325 5.81199C13.6583 6.25333 13.2 6.81599 12.95 7.49999H11.05C10.8 6.81666 10.3417 6.25399 9.675 5.81199C9.00833 5.36999 8.28333 5.14933 7.5 5.14999C6.5 5.14999 5.66667 5.48333 5 6.14999C4.33333 6.81666 4 7.64999 4 8.64999C4 9.23333 4.11667 9.82099 4.35 10.413C4.58333 11.005 5 11.68 5.6 12.438C6.2 13.196 7.01667 14.0877 8.05 15.113C9.08333 16.1383 10.4 17.3673 12 18.8Z" fill="black"/>
            </svg>
            <span>
                Favorite
            </span>
        </a>
    </nav>
    <div>
        <h3>Trending</h3>
        <span>Sports</span>
        <span>Entertainment</span>
        <span>Business</span>
        <span>Technology</span>
    </div>
</div>