<%- include("./includes/head.ejs") %>
    <title> home</title>
    <link rel="stylesheet" href="/css/home.css" >
    <link rel="stylesheet" href="/css/main.css" >

</head>
<body>
    <%- include("./includes/header.ejs") %>
    <main>
        <%- include("./includes/sidebar.ejs") %>
        <section class="main">
            <h2>Posts</h2>
            
            <div class="blog-container" >
                <div class="title-container" >
                    <h2>My first blog post</h2>
                    <div class="title-details">
                        <span>3 days ago</span>
                        <span>Adebobola Oyedunmade</span>
                    </div>
                </div>
                <p class="blog-content" >
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repellat, dolorem assumenda ut cupiditate suscipit, odit quaerat veritatis ab eum laudantium! Dolore ab quos voluptatibus omnis officia quibusdam officiis vero!
                </p>
                <button class="blog-btn" >Read More</button>
            </div>
            <div class="blog-container" >
                <div class="title-container" >
                    <h2>My first blog post</h2>
                    <div class="title-details">
                        <span>3 days ago</span>
                        <span>Adebobola Oyedunmade</span>
                    </div>
                </div>
                <p class="blog-content" >
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repellat, dolorem assumenda ut cupiditate suscipit, odit quaerat veritatis ab eum laudantium! Dolore ab quos voluptatibus omnis officia quibusdam officiis vero!
                </p>
                <button class="blog-btn" >Read More</button>
            </div>
            <div class="blog-container" >
                <div class="title-container" >
                    <h2>My first blog post</h2>
                    <div class="title-details">
                        <span>3 days ago</span>
                        <span>Adebobola Oyedunmade</span>
                    </div>
                </div>
                <p class="blog-content" >
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repellat, dolorem assumenda ut cupiditate suscipit, odit quaerat veritatis ab eum laudantium! Dolore ab quos voluptatibus omnis officia quibusdam officiis vero!
                </p>
                <button class="blog-btn" >Read More</button>
            </div>
            <div class="blog-container" >
                <div class="title-container" >
                    <h2>My first blog post</h2>
                    <div class="title-details">
                        <span>3 days ago</span>
                        <span>Adebobola Oyedunmade</span>
                    </div>
                </div>
                <p class="blog-content" >
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repellat, dolorem assumenda ut cupiditate suscipit, odit quaerat veritatis ab eum laudantium! Dolore ab quos voluptatibus omnis officia quibusdam officiis vero!
                </p>
                <button class="blog-btn" >Read More</button>
            </div>
            <div class="blog-container" >
                <div class="title-container" >
                    <h2>My first blog post</h2>
                    <div class="title-details">
                        <span>3 days ago</span>
                        <span>Adebobola Oyedunmade</span>
                    </div>
                </div>
                <p class="blog-content" >
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repellat, dolorem assumenda ut cupiditate suscipit, odit quaerat veritatis ab eum laudantium! Dolore ab quos voluptatibus omnis officia quibusdam officiis vero!
                </p>
                <button class="blog-btn" >Read More</button>
            </div>
            <div class="blog-container" >
                <div class="title-container" >
                    <h2>My first blog post</h2>
                    <div class="title-details">
                        <span>3 days ago</span>
                        <span>Adebobola Oyedunmade</span>
                    </div>
                </div>
                <p class="blog-content" >
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repellat, dolorem assumenda ut cupiditate suscipit, odit quaerat veritatis ab eum laudantium! Dolore ab quos voluptatibus omnis officia quibusdam officiis vero!
                </p>
                <button class="blog-btn" >Read More</button>
            </div>
            <div class="blog-container" >
                <div class="title-container" >
                    <h2>My first blog post</h2>
                    <div class="title-details">
                        <span>3 days ago</span>
                        <span>Adebobola Oyedunmade</span>
                    </div>
                </div>
                <p class="blog-content" >
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste repellat, dolorem assumenda ut cupiditate suscipit, odit quaerat veritatis ab eum laudantium! Dolore ab quos voluptatibus omnis officia quibusdam officiis vero!
                </p>
                <button class="blog-btn" >Read More</button>
            </div>
        </section>
    </main>
</body>
</html>