html, *{
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

body{
    margin: 0;
}

.errorMsg{
    background-color: red;
    position: absolute;
    top: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.3rem;
    padding: .7rem;
}

.sidebar{
    position: fixed;
    left: 0;
    top: 69px;
    /* bottom: 0; */
    /* height: 100vh; */
    border-right: 1px solid #000;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    /* width: 20rem; */
}

.sidebar > nav, .sidebar > div{
    display: flex;
    flex-direction: column;
}

.sidebar > div{
    margin-top: 2rem;
}

.sidebar > div > h3{
    font-weight: 900;
}

.sidebar > nav > a > span{
    margin-left: .5rem;
}

.sidebar > nav > a, .sidebar > div > span{
    text-decoration: none;
    color: #000;
    font-weight: 400;
    padding: 1rem 0;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.sidebar > nav > a:hover, .sidebar > div > span:hover, .sidebar > nav > a:hover > svg > path{
    color: #3217DA;
    fill: #3217DA;
}


main{
    position: relative;
    /* display: flex; */
    margin: 0;
}

.main{
    padding: 1rem 3rem;
    margin-left: 174px;
    z-index: 1;
    position: relative;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
    border-bottom: 1px solid #000;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 10;
}

.search-form{
    position: relative;
}

.search-form > svg{
    position: absolute;
    top: .7rem;
    left: .7rem;
    height: 15px;
    width: 15px;
}

.search-form > input{
    font-size: 1rem;
    padding: .5rem 1rem .5rem 2rem;
    width: 30rem;
    border-radius: 8px;
}


header >a > span{
    /* display: block; */
    width: 3rem;
    height: 3rem;
    background-color: #3217DA;
    border-radius: 50%;
    margin-right: .5rem;
}

header > h2{
    font-weight: 700;
    font-size: 2rem;
    color: #3217DA;
    margin: 1rem 0;
}

header > a{
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

header > a:hover{
    color: #3217DA;
}

.profile-link{
    display: flex;
    align-items: center;
}

.profile-link > svg{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

.profile-title{
    padding: 0 0 2rem;
    border-bottom: 1px solid #000;
}

.details-header{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 3rem;
    border-bottom: 1px solid #000;
}

.details-content{
    margin: 2rem 0;
}

.details-author{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
}

.details-author > svg{
    width: 3rem;
    height: 3rem;
    margin-right: 2rem;
}

.details-footer{
    height: 10rem;
    display: flex;
    align-items: center;
    margin-top: 2rem;
}



.details-footer > svg{
    width: 4rem;
    height: 4rem;
}

.details-footer-text{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.details-footer-text > p{
    margin: 1rem 0 0;
}

.details-footer-text > span{
    color: grey;
    font-size: .8rem;
}